.header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    background: #ffffff;
    border-radius: 6px;
    min-width: 150px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:active {
        transform: scale(0.9);
    }
}