.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    min-height: 90vh;
    padding: 20px;
}


.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
}