.input {
    border: 2px solid transparent;
    width: 100%;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 6px;
    transition: all 0.5s;

    &:hover {
        border: 2px solid #4A9DEC;
        box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
        background-color: white;
    }

    &:focus {
        border: 2px solid #4A9DEC;
        box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
        background-color: white;
    }
}

.inputError {
    border: 2px solid transparent;
    min-width: 400px;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 6px;
    transition: all 0.5s;

    &:hover {
        border: 2px solid #ec4a4a;
        box-shadow: 0px 0px 0px 7px rgba(236, 74, 74, 0.2);
        background-color: white;
    }

    &:focus {
        border: 2px solid #ec4a4a;
        box-shadow: 0px 0px 0px 7px rgba(236, 74, 74, 0.2);
        background-color: white;
    }
}

.errorMessage {
    margin-top: 10px;
    text-align: center;
    color: red;
    font-size: 0.875rem;
}